persons_input_dir="./inputs/SPENSER_NorthEast_2019/people/"
households_input_dir="./inputs/SPENSER_NorthEast_2019/households/"
MSOA_OA_input_path="./inputs/SPENSER_NorthEast_2019/MSOA_OA_2011_NE.csv"
rural_urban_OA_path="./inputs/SPENSER_NorthEast_2019/RUC11_OA11_EW.csv"

persons_cleaned_path="./outputs/persons_cleaned.csv"
households_cleaned_path="./outputs/households_cleaned.csv"

composition_path="./outputs/composition_updated.csv"

persons_driving_licence_path="./outputs/persons_driving_licence.csv"

economic_activity=""